<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="text-center">
                Bem-vindo ao Gestão Despesas
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            Valor a pagar até final do mês
                        </div>
                        <div class="valor-panel">{{totalAPagar | monetario}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-money fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">
                            Valor pago no mês
                        </div>
                        <div class="valor-panel">{{totalPago | monetario}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <canvas id="piePago" class="chart chart-pie"
                chart-data="dataPago" chart-options="graficoOptions" chart-labels="labelsPago">
        </canvas>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <canvas id="pieCategoria" class="chart chart-pie"
                chart-data="dataCategoria" chart-options="graficoOptions" chart-labels="labelsCategoria">
        </canvas>
    </div>
</div>

<div class="row" style="margin-top: 10px">
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="5" style="text-align: center">Próximas 5 despesas a vencer</th>
                </tr>
                <tr>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="despesa in despesasVencer">
                    <td>{{despesa.descricaCategoria}}</td>
                    <td>{{despesa.descricao}}</td>
                    <td>{{despesa.dataFormatada}}</td>
                    <td>{{despesa.valor | monetario}}</td>
                    <td class="text-center">
                        <a href="#/despesa/{{despesa.id}}" class="btn btn-default" title="Visualizar">
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="5" style="text-align: center">Despesas atrasadas</th>
                </tr>
                <tr>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="despesa in despesasAtrasadas">
                    <td>{{despesa.descricaCategoria}}</td>
                    <td>{{despesa.descricao}}</td>
                    <td style="color: red">{{despesa.dataFormatada}}</td>
                    <td>{{despesa.valor | monetario}}</td>
                    <td class="text-center">
                        <a href="#/despesa/{{despesa.id}}" class="btn btn-default" title="Visualizar">
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
