<div class="row">
	<div class="col-md-12">
		<form ng-submit="filtrar()">
			<div class="panel panel-default">
				<div class="panel-heading"><h3>Despesas | Filtrar</h3></div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="categoria">Categoria:</label>
								<select id="categoria" class="form-control" ng-model="search.categoria" ng-options="categoria.categoria as categoria.descricao for categoria in categorias">
									<option value="">Selecione</option>
								</select>	
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label>Data Inicial:</label>
								<input type="date" ng-model="search.dataInicial" class="form-control">
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label>Data Final:</label>
								<input type="date" ng-model="search.dataFinal" class="form-control">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="descricao">Descrição:</label>
								<input id="descricao" ng-model="search.descricao" class="form-control" placeholder="Busque por alguma descrição. Exemplo: almoço">
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label for="status">Status:</label><br>
								<toggle ng-model="search.paga" on="Paga" off="Pendente" onstyle="btn-success" offstyle="btn-danger"/>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-success">
								<i class="fa fa-search"></i> Filtrar
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>	
	</div>
</div>


<div class="table-responsive">
	<table st-table="displayedCollection" st-pipe="getData" st-items-by-page="itemsByPage" class="table table-hover">
        <thead>
            <tr>
                <th>Categoria</th>
				<th>Descrição</th>
				<th>Data</th>
				<th>Valor</th>
				<th>Status</th>
				<th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
	        <tr ng-repeat="despesa in displayedCollection">
				<td>{{despesa.descricaCategoria}}</td>
				<td>{{despesa.descricao}}</td>
				<td>{{despesa.dataFormatada}}</td>
				<td>{{despesa.valor | monetario}}</td>
				<td>
					<div ng-class="{'disabled': despesa.paga}">
<toggle ng-model="despesa.paga" ng-change="pagar(despesa.id)" on="Paga" off="Pendente" onstyle="btn-success" offstyle="btn-danger" />
					</div>
					
				</td>
				<td class="text-center">
					<a href="#/despesa/{{despesa.id}}" class="btn btn-info" data-toggle="tooltip" title="Editar">
						<i class="fa fa-edit"></i>
					</a>
					<a class="btn btn-danger" ng-click="remover(despesa)" data-toggle="tooltip" title="Apagar">
						<i class="fa fa-trash"></i>
					</a>
				</td>
	        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-template="/components/search/template.html" colspan="5"></td>
            </tr>
        </tfoot>
    </table>
</div>